

<table>
  <thead>
    <tr>
      <th>Imie i nazwisko</th>
      <th>Specjalizacja</th>
    </tr>
  </thead>

  <tbody>
    <% @q.each do |wynik| %>
      <tr>
        <td><%= wynik.name %></td>
        <td><%= wynik.spec %></td>
        <td><%= link_to 'Zobacz', wynik %></td>
      </tr>
    <% end %>
  </tbody>
</table>
